@import "./normalize.css";
@import "./markdown.css";

::-moz-selection {
	background: rgb(255,89,101);
	color: #fff;
}

::selection {
	background: #ff5965;
	color: #fff;
}

:focus {
	outline-color: #ff5965;
}

* {
	font-family: 'Source Sans Pro', sans-serif;
}

body {
	background: #e6e4ea;
	line-height: 1.5;
}
